.buttonContainer {
	display: flex;
	justify-content: center;
	margin-bottom: 20px;
}

.modalTitle {
	font-size: 24px;
	font-weight: 700;
}

.headerContainer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 10px;
}